nvim/.config/github-copilot/apps.json
nvim/.config/cursor/
nvim/.config/git/
nvim/.config/mimeapps.list
nvim/.config/mimeapps.list.new
nvim/.config/pulse/
nvim/.config/uv/
nvim/.config/viewnior/
nvim/.config/vlc/
